body {
    background-color: lightgray;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
    border: 20px solid darkblue;
    border-radius: 20px;
}

#mathematics {
    background-color: lightblue;
    border-radius: 20px;
    border: 20px solid darkblue;
    box-shadow: rgba(27, 8, 232, 0.35) 15px 15px 15px;

}

.stats {
    text-align: center;
    color: darkblue;
    margin-bottom: 5px;
    font-size: 40px;
    padding: 10px;
}

h1 {
    text-align: center;
    color: darkblue;
    margin-bottom: 5px;
    font-size: 45px;
}